ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1b5e9d;
}

li {
  float: left;
  display: inline;
}

li a {
  display: block;
  color: #cdd2db;
  text-align: center;
  padding: 28px 32px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #3282d2;
}

li {
  border-right: 1px solid #ffffff;
}

li:last-child {
  border-right: none;
}

